@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <title>Список подтвержденных</title>
    </head>

    <body>
        <div>
            <table>
                *Данные*
            </table>
        </div>
    </body>
</html>