@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Благодарности</title>
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body class="text-center">
        <h1>Спасибо, @Model.Name</h1>
        <div>
        @if(Model.AcceptStatus == true)
        {
            @: Спасибо, что подтвердил свой статус, ждём тебя на вечеринке [Данные].
        }
        else
        {
         @: Нам жаль, что вы не подтвердили статус, надеюсь, ты изменишь свой выбор.
        }

        </div>
        <div>
            <a asp-action="ListResponse">Здесь</a> можно узнать кто ещё пойдет.<br />
            Спасибо за уделенное время!
        </div>
    </body>
</html>