
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Спасибо!</title>
    </head>
    <body>
        <h1>Успешно</h1>
        <div>
            Спасибо, что подтвердил свой статус, ждём тебя на вечеринке [Данные].
        </div>
        <div>
            <a asp-action="ListResponse">Здесь</a> можно узнат кто ещё пойдет.<br />
            Спасибо за удиленное время!
        </div>
    </body>
</html>